<div class="container">
  <div class="header">
    <div class="header-text">
        <div class="title">
          Hello I am Federica ﹡ <br> Freelance <span class="text-purple text-abril"> Front-End Developer</span>.
        </div>
        <div class="text">
          I help brands turn their ideas into real <span class="text-purple"> digital products </span> with a creative twist <span class="text-purple"> ∷ </span>
        </div>
    </div>
  </div>

  <div id="about-me">
    <div class="about-container">
        <p>
          ✶ I have a background in Marketing Communication, with experience in creating brand image <span class="text-purple"> ✺ </span> I am a mixtrure of <span class="text-purple text-underline"> creative thinking </span> and prolem solving with a crazy sparkle ❃ I'm based in Italy and working remotely with brands, businesses and agencies of all different shapes and sizes from all around the world ⊨⊨✽ I'm always looking to dive into new and <span class="text-purple"> exciting projects </span> ↻
        </p>
    </div>

  </div>

  <div id="projects">
    <div class="project-containers">
      <div class="project-text">
      <h1 class="text-abril mb-5">Projects</h1>
        <div class="projects-grid-scroll">
          <div class="row">
            <div class="col-6">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1551721434-8b94ddff0e6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80)">
              <h1><a href="https://www.beam-app.me/" target="_blank" class="text-abril card-link-white" >BEAM.</a></h1>
              <p>Ruby on Rails ﹡ HTML ﹡ CSS ﹡ JavaScript ﹡ Bootsrap </p>
              </div>
            </div>
            <div class="col-6">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1555820585-c5ae44394b79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=850&q=80)">
              <h1><a href="https://www.selectaparfums.it/" target="_blank" class="text-abril card-link-white" >Selecta Parfums</a></h1>
              <p>Wordpress ﹡ HTML ﹡ CSS</p>
              </div>
            </div>
            <div class="col-6">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1555820585-c5ae44394b79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=850&q=80)">
              <h1><a href="https://www.selectaparfums.it/" target="_blank" class="text-abril card-link-white" >Spaccanapoli</a></h1>
              <p>Ruby on Rails ﹡ HTML ﹡ CSS ﹡ JavaScript ﹡ Bootsrap </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
